:root {
  --pig: #ad426b;
}

body {
  margin: 10px;
  font-family: 'Kanchenjunga', 'Times New Roman', Times, serif;
  background-color: var(--pig);
}

h1, h3 {
  font-family: 'Tagesschrift', Arial, Helvetica, sans-serif;
  color: #301c0e;
}

h1 {
  margin-bottom: 2px;
  text-transform: uppercase;
  font-weight: 900;
}

h3 {
  margin-top: 0;
  font-weight: 100;
}

button {
  padding: 10px;
  border: 2px solid #5e6974;
  border-radius: 6px;
  background: #d4d8dc;
  cursor: pointer;
}

hr {
  border-top: 2px dashed gray;
}

#instructions, #game, #cred-drop {
  background-color: white;
}

#instB, #exGame, #game, #cred button, #cred {
  width: 100%;
}
#instructions, #cred-drop {
  border: 2px solid #5e6974;
  margin-top: -2px;
  padding: 10px;
}

#instructions img, #exGame img {
  width: 15px;
  margin-left: 3px;
}

#exGame {
  padding-left: 0;
}
#exGame li {
  padding: 4px 15px 4px 8px;
  list-style-type: none;
}
#exGame li:not(:first-of-type)::before {
  content: "- ";
}
#exGame li:nth-child(odd) {
  background: #d5d5d5;
}
#exGame li:nth-child(even) {
  background: #e5e5e5;
}

#ex {
  width: 40%;
}

#start, #cred {
  margin-top: 20px;
}

#game {
  padding: 15px;
}

#dice {
  width: 40px;
  margin: 20px 0;
}

#instructions, #exGame, #game, #hideFirst, #fullR, #hideSecond, #cred-drop {
  display: none;
}